.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 1.5rem;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #1e88e5;

    @media screen and (max-width: 768px) {
      padding-top: 4rem;
    }
  }

  .Input {
    @media screen and (max-width: 768px) {
      width: 45vw;
    }
  }

  .container-button {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .container-table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 80vw;

    //background-color: red;
    // overflow-y: scroll;
    // overflow-x: hidden;

    //  &::-webkit-scrollbar {
    // display: none;
    //  }
  }
}
